.navbar .navbar-brand {
  font-size: 1.5em;
  color: #553d36;
  font-weight: 900;
}
.navbar {
  background-color: #87a0b2 !important;
}

.btn-outline-success {
  background-color: #553d36;
  color: #87a0b2;
  border-color: #553d36;
}
.btn-outline-success:hover {
  background-color: #87a0b2;
  color: #553d36;
  border-color: #553d36;
}

.card .card-header {
  font-size: 1.2em;
  color: #553d36;
  font-weight: 900;
}

.container {
  background-color: #684a52;
}

.border-img {
  height: 120px;
}

.bg-dark {
  background-color: #857885 !important;
}

.text-light {
  /* color: #553d36 !important; */
  color: white;
  font-weight: 900;
}

.bg-card {
  background-color: #857885;
}

.border-card:hover,
.country-list-card:hover {
  cursor: pointer;
}

.list-name {
  height: 2.5em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.country-list-card,
.border-card {
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  cursor: pointer;
}

.country-list-card:hover,
.border-card:hover {
  transform: scale(1.05);
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.3);
}

#selectedCard.animate,
#borderCard.animate {
  animation: pop 0.7s ease;
}
 

@keyframes pop {
  0%   { transform: scale(.95); opacity: 0; }
  100% { transform: scale(1); opacity: 1; }
}


.fade-in {
  opacity: 0;
  transform: translateY(10px);
  animation: fadeIn 0.5s forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


@media (max-width: 1200px){
  .selected-country{
    margin-bottom : 1rem;
    text-align: center;
  }
}

@media (max-width: 520px){
  .navbar .navbar-brand{
   font-size: 3rem!important;
  }
}

@media (max-width: 412px){
  .selected-country .row{
    padding: 0px !important;
  }
}